@import url(reset.css);
@import url(fonts.css);
@import url(grid.css);
@import url(media.css);
html {
  font-family: "AFuturaRoundDemi";
  font-size: 1.1em;
  color: #FFFFFF;
}
body {
  background-image: url(../files/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #404040;
  background-blend-mode: multiply;
  min-height: 100vh;
}
h1, h2, h3, h4 {
  text-align: center;
  margin-bottom: 4px;
}
h1 {
  font-size: 180%;
}
h2 {
  font-size: 160%;
}
h3 {
  font-size: 140%;
}
h4 {
  font-size: 120%;
}
header .wrapper {
  align-items: center;
}
.logo {
  text-transform: uppercase;
}
.logo:before {
  content: "";
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url(../files/cube.png);
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 100%;
}
header a {
  text-decoration: none;
  color: #FFFFFF;
}
header li {
  display: inline-block;
  margin-right: 20px;
}
header li:last-child {
  margin-right: 0;
}
#about .block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 49%;
}
#roadmap .block {
  min-width: 100%;
}
.map-header {
  margin-bottom: 8px;
}
.map-header+p {
  margin-bottom: 8px;
}
.map-text {
  text-align: left;
}