@import url(reset.css);
@import url(fonts.css);
@import url(grid.css);
@import url(media.css);
html {
  font-family: "ClearSansRegular";
  font-size: 1.1em;
  color: #FFFFFF;
}
body {
  background-image: url(../files/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #404040;
  background-blend-mode: multiply;
  min-height: 100vh;
}
header .wrapper {
  align-items: center;
}
.logo {
  font-family: "ClearSansBold";
}
.logo:before {
  content: "";
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url(../files/cube.png);
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 100%;
}
header a {
  text-decoration: none;
  color: #FFFFFF;
}
header li {
  display: inline-block;
  margin-right: 24px;
}
header li:last-child {
  margin-right: 0;
}