@import url(reset.css);
/* @import url(fonts.css); */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
@import url(grid.css);
@import url(media.css);
body {
  background-image: url(../files/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #404040;
  background-blend-mode: multiply;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.25em;
  color: #FFFFFF;
  padding: 24px 0;
}
h1, h2, h3, h4 {
  text-align: center;
  margin: 24px 0;
}
h1 {
  font-size: 180%;
  font-weight: 800;
}
h2 {
  font-size: 160%;
  font-weight: 700;
}
h3 {
  font-size: 140%;
  font-weight: 500;
}
h4 {
  font-size: 120%;
}
p, ol, ul {
  line-height: 1.3;
}
header .wrapper, footer .wrapper {
  align-items: center;
}
.logo {
  text-transform: uppercase;
  font-weight: 800;
}
.logo:before {
  content: "";
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url(../files/cube.png);
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 100%;
}
header a, #start a, #about a, #holder a, footer a {
  text-decoration: none;
  color: #FFFFFF;
}
header a {
  font-weight: 700;
}
header li, #start li {
  display: inline-block;
  margin-right: 16px;
}
header li:last-child, #start li:last-child {
  margin-right: 0;
}
#about .block, #holder .block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 49%;
}
#about a, #start a, #holder a {
  font-weight: 500;
}
#start h1 {
  font-size: 400%;
  text-align: left;
}
#start h1+p {
  margin-bottom: 24px;
}
#roadmap .block {
  flex-grow: 1;
  flex-shrink: 1;
  /*flex-basis: 49%;*/
}
.map-header {
  margin-bottom: 8px;
  font-weight: 700;
}
.map-header+p {
  margin-bottom: 8px;
  font-weight: 500;
}
.map-text {
  text-align: left;
}
ul.map-list {
  list-style-type: disc;
  list-style-position: outside;
  text-align: left;
}
#roadmap .wrapper:last-child {
  justify-content: space-around;
  align-items: center;
}
#roadmap .wrapper:last-child .block {
  flex-grow: 0;
  flex-shrink: 1;
}
.gaugemeter {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: default;
  display: inline-block;
}
.gaugemeter span, .gaugemeter b {
  width: 54%;
  position: absolute;
  text-align: center;
  display: inline-block;
  color: rgb(255,255,255);
  font-weight: 500;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  margin: 0 23%;
}
.gaugemeter[data-style="semi"] b {
  width: 80%;
  margin: 0 10%;
}
.gaugemeter s, .gaugemeter u {
  text-decoration: none;
  font-size: .6em;
  font-weight: 200;
  opacity: .6;
}
.gaugemeter b {
  color: #FFFFFF !important;
  font-weight: 500;
  opacity: 1;
}
.holder-reward {
  margin-bottom: 1.25em;
}
.holder-reward:last-child {
  margin-bottom: 0;
}
.holder-reward h3 {
  margin-top: 0;
  margin-bottom: 8px;
}
.holder-reward img {
  width: 60px;
  float: left;
}
.holder-reward p {
  margin-left: 60px;
}
.holder-reward ul {
  list-style-type: disc;
  margin-left: calc(1em + 60px);
}
#holder ol {
  list-style-type: decimal;
  margin-left: 1em;
}
#copyaddress {
  cursor: pointer;
}
ul.nested {
  list-style-type: none;
}
footer {
  margin-top: 24px;
}
span#goTopSpan {
  color: rgb(255,255,255);
  text-shadow: 0px 0px 4px rgba(0,0,0,.5);
  z-index: 999;
}